@import url('https://font.googleapis.com/css?family=Poppins:400,500,700')

/*---Media Querries---*/
@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 576px){

}


.unselectable{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.DownloadButtonWindows{
    border:4px solid #2d89ef;
    background: none;
    padding: 10px 20px;
    font-size: 45px;
    color:#2d89ef;
    transition: 0.65s;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.DownloadButtonWindows:hover{
  color:#fff;
}
.DownloadButtonWindows::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #2d89ef;
  z-index: -1;
  transition: 0.65s;
  top:0;
  bottom: 0;
  border-radius: 0 0 90% 90%;
}
.DownloadButtonWindows:hover::before{
  height: 300%;
}

.DownloadButtonAndroid{
    border:4px solid #a4c639;
    background: none;
    padding: 10px 20px;
    font-size: 45px;
    color:#a4c639;
    transition: 0.65s;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.DownloadButtonAndroid:hover{
  color:#fff;
}
.DownloadButtonAndroid::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #a4c639;
  z-index: -1;
  transition: 0.65s;
  top:0;
  bottom: 0;
  border-radius: 0 0 90% 90%;
}
.DownloadButtonAndroid:hover::before{
  height: 300%;
}


.TakeMeBackButton{
    border-radius: 50px;
    border:4px solid #87CEFA;
    background: #87CEFA;
    padding: 5px 10px;
    font-size: 35px;
    color:#FFFFFF;
    transition: 0.65s;
    position: relative;
    overflow: hidden;
    margin: 2%;
}

.Error404Body{
   background-image: url("img/Error404.png");
   width:100%;
   height:100%;
}


/*---Firefox Bugfix---*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*---Fixed Background Image---*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*---Bootstrap Padding Fix---*/
[class*="col-"]{
  padding: 1rem;
}

/*
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap

  Small (s) devices (portrait phones, 576px and up)
  @media (min-width: 576px) {...}

  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) {...}

  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) {...}

  Éxtra large (xl) devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {...}
*/
